*{
    margin: 0;
    padding: 0;
    
}
.image-banner{
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    justify-content: center;
}
.image-banner img{
    width: inherit;
    height: inherit;
    padding: 0;
    margin: auto 0;
}

.btn{
    display: inline-block;
    position:absolute;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.247);
}
.btn:hover{
    cursor: pointer;
}

 .right{
/* position:absolute; */
top: 50%;
right:2%;


}

.left{
    top: 50%;
    left:2%;
}
#details {
    border: solid .1px #1d1d1d;
    height: 45vh;
    background-color: #1d1d1d
}

.movie-details{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-inline: auto;
    margin-top: 7%;
    width: 80%;
    height: 75%;
    border-radius: 10%;
    background-color: rgba(238, 238, 238, 0.103);
    /* background-color:white; */
    text-align:center;
    /* margin-top: 55%; */
    position: relative;
    color:whitesmoke;
    padding: .8rem;  
}


.movie-details h1{
    font-size:larger;
   line-height:initial;
   background:transparent;
}

 #rating {
    
    text-align:right;
    padding: 0;
    float:right ;   
    font-size:smaller;
    background-color:transparent
}

.movie-details #summary{
    margin-top: 1rem;
    overflow-y:auto ;  
    font-size:small;
    padding-inline: 2rem ;
    background: transparent;
    
}


@media (min-width: 680px){

    .movie-details{
       
      
        width:0%;
        height: 20%;
        border-radius: 10%;
        background-color: rgba(255, 0, 0, 0.616);
        /* background-color:white; */
        text-align:center;
        /* margin-top: 55%; */
       
        color:whitesmoke;
        padding: 0;  
        position: static;
    }

    .movie-details h1{
       font-size:1.6rem;
       padding: .2rem;
       border-radius: 5px;
       background:rgba(32, 32, 32, 0.473);;
       position:absolute;
       top: 1rem;
       left:1rem
    }

    .movie-details #summary{
        margin-top: 1rem;
        overflow-y:auto ;  
        font-size:medium;
        width: 60%;
        background: rgba(32, 32, 32, 0.473);
        top: 20% ;
        left: 25%;
        position:absolute;
        border-radius: 5px;
    }
    #rating{
        width: 2rem;
        height: 2rem;
        top: 1rem ;
        right:  10%;
        position:absolute;  
        font-size: large;
        background: rgba(32, 32, 32, 0.473);
        border-radius:100%;
        /* padding: .1rem; */text-align: center;
    }     
    .body{
        height:26rem;
        position: relative;
    }  
}


@media (min-width: 860px){

    .image-banner{
        max-width: 960px;
        margin:0 auto ;
    }

    .body{
        background-color: #1d1d1d;
        height:30rem;
        padding-bottom: 2rem;
        padding-top: 1rem;
    }

    .movie-details h1{
        left: 10%;
    }


    .movie-details #summary{
        max-width: 600px;
    }
}

@media (min-width: 1025px){
    .image-banner{
        max-width: 800px;
        float:left;
    }

    .body{
        /* height:28rem; */
    }

    .movie-details #summary{
        max-width: 350px;
        left: 65%;
        /* right: 20%; */
        font-size:large;
        overflow-y: auto;
        top:5rem;
        overflow-y:auto ;
    }

    .movie-details h1{
        left: 4%;
        font-size:xx-large;
    }

    #rating{
        font-size:xx-large;
        width: fit-content;
        height: fit-content;
    }
}

