.navbar{
    background-color: #1d1d1d;
    color: whitesmoke;
    display: flex;
    border-bottom: whitesmoke solid 2px ;
    justify-content: space-evenly;
    height: 2rem;
    padding-top: .4rem;
}

.burger-icon{
    width: 1rem;
    
}
.burger-icon button{
    width: .9rem;
    height:.9rem;
    margin-left:.4rem;
    position:relative;
}

.navbar ul{
    
    width:8rem;
    background-color: rgba(20, 20, 20, 0.815);
    border-radius:7px ;
    position:absolute;
    top: 2rem;
    left: 3rem;
    z-index:2;
    display: none;
}

.navbar li{
    font-size: small;
    margin:.4rem;
   padding: .6rem;
    list-style: none;
    
}

.navbar .logo{
    margin-left: .6rem;
    padding-right: .8rem;
}

@media (min-width: 680px){

    .navbar {
        font-size: medium;
         display: flex;
         justify-content: space-between;
         /* border: lawngreen solid 4px; */
    }
    
 
    .navbar .burger-icon{
        display: none;
    }

    #menu{
        display: flex;
        justify-content: space-evenly ;
        
    }
    .navbar ul {
       
        top: -.3rem;
        left: 10%;
        position:static;
        
        background-color: transparent;
        display:flex;
        margin-bottom: .4rem;
        width: 16rem;
        /* border: red solid 4px; */
    }

    .logoNlinks{
        display: flex;
        justify-content: space-between;
    }

    .navbar ul li {
        font-size: medium;
        width: 4rem;
        padding:0;
        line-height: .8rem;
        /* padding-top: .4rem; */
    }
}

