
*{
  margin:0;
  padding: 0;

  color:whitesmoke;
 
}


a{
  text-decoration: none;
 
}

#carousel{
  background-color: #1d1d1d;
}


/* #m-details{
 max-width: 1400px;
 background-color: transparent ;
 margin: auto;
} */
